:root {
  --primary-color: #01588e;
  --black: #00182d;
  --secondary-color: #fcb900;
  --accent-color: #23b7f1;
  --white: #fefefe;
  --gap: 2rem;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  background-color: var(--white);
  color: var(--primary-color);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
  margin: 0 0 1em 0;
}

.container {
  position: relative;
  width: min(85%, 1349px);
  margin: 0 auto;
}
.section {
  padding: 4.5rem 0 1rem 0;
}
.header-element {
  position: sticky;
  top: 0;
  z-index: 999;
}
.header {
  width: 100%;
  background-color: var(--black);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: var(--white);
}
.nav {
  padding: 1rem 0;
  background-color: var(--black);
}
.menu-btn {
  display: none;
}
.primary-navigation {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  z-index: 99;
  background-color: var(--black);
  list-style: none;
  gap: var(--gap);
}
.nav-link a {
  color: var(--white);
}
.cancel-btn {
  display: none;
}

.hero {
  position: relative;
  width: 100%;
  height: 520px;
  background-color: var(--primary-color);
  color: var(--white);
}
.hero-image-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.hero-image {
  position: absolute;
  bottom: 0;
  right: 0;
}
.hero-content-container {
  position: absolute;
  inset: 0 0 0 0;
  z-index: 9;
  background-color: rgba(01, 03, 13, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-content {
  position: relative;
}
.hero-title {
  color: var(--accent-color);
  margin-bottom: 0.15em;
}
.typewriter-text-container {
  width: 100%;
  height: auto;
}
.typewriter-text {
  color: var(--white);
  display: inline-block;
}
.typed-cursor {
  color: var(--accent-color);
  font-size: 1.7em;
  display: inline-flex;
}
.hero-cta-container {
  position: relative;
  top: 9rem;
  width: 100%;
  display: flex;
  gap: var(--gap);
}
.cta {
  padding: 0.5em 1.2em;
  border-radius: 0.5rem;
  color: var(--white);
}
.hire-me {
  background-color: var(--accent-color);
}
.view-resume {
  border: 2px solid var(--secondary-color);
}
.section-title {
  margin-bottom: 1em;
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-title h1 {
  color: var(--accent-color);
}
.section-title::after {
  content: "";
  width: 65%;
  height: 2px;
  background: var(--secondary-color);
}

.skills-icon-container {
  margin-top: 1rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
  flex-wrap: wrap;
}
.skills-icon {
  background-color: var(--white);
  width: 4.5rem;
  aspect-ratio: 1;
  border-radius: 0.5rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 7px #cbe3ec, -3px -3px 7px #cbe3ec;
}
.skills-icon i {
  font-size: 3rem;
}
.social-icon-link:visited {
  color: var(--primary-color);
}

.projects-card-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.projects-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 280px;
  margin: 0 auto;
}
.card-image {
  border-radius: 0.5rem;
}
.card-overlay {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  max-height: 4rem;
  margin: 0 auto;
  top: -2rem;
  padding: 0.7em;
  background-color: var(--white);
  border-radius: 0.3rem;
  box-shadow: 3px 3px 7px #cbe3ec, -3px -3px 7px #cbe3ec;
}
.overlay-text {
  display: flex;
  flex-direction: column;
}
.overlay-title {
  text-transform: uppercase;
  font-weight: 600;
}
.overlay-text p {
  margin: auto 0;
  font-size: small;
}
.overlay-btn {
  width: auto;
  height: auto;
  aspect-ratio: 1;
  padding: 0.5em;
  background-color: var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
}
.overlay-btn i {
  color: var(--white);
}

.social-icons-container {
  margin-top: 1rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
  flex-wrap: wrap;
}
.social-icons {
  width: 3rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--white);
  box-shadow: 3px 3px 7px #cbe3ec, -3px -3px 7px #cbe3ec;
  cursor: pointer;
}
.social-icons:hover {
  background-color: var(--primary-color);
  color: var(--white);
}
.social-icons i {
  font-size: 1.7rem;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-inputs {
  border: 2px solid var(--primary-color);
  padding: 0.7em;
  border-radius: 0.5rem;
}
.radio-btn {
  margin-right: 0.4rem;
  width: 1.2rem;
  aspect-ratio: 1;
  border: 2px solid var(--primary-color);
  color: red;
}
.form-subjects-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--gap);
  padding: 0.5rem 0;
}
.form-subject {
  display: inline-flex;
  height: auto;
  align-items: center;
}
.submit-btn {
  margin-top: 0.7rem;
  padding: 0.9em;
  background-color: var(--accent-color);
  color: var(--white);
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.modal {
  margin: auto;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  text-align: center;
  width: 90%;
  max-width: 400px;
  background-color: var(--primary-color);
  color: var(--white);
}

.modal::backdrop {
  background: rgba(03, 53, 97, 0.5);
}
.close-modal-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.5rem;
  aspect-ratio: 1/1;
  display: flex;
}
.close-modal-btn i {
  margin: auto;
  font-size: 1.5rem;
}

.footer {
  margin-top: 3rem;
  background-color: var(--black);
  color: var(--white);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.footer-text {
  margin: 0;
  font-size: 1.3rem;
}
.go-to-top-btn {
  background-color: var(--white);
  color: var(--black);
  padding: 0.7em 1em;
  border-radius: 0.5rem;
  cursor: pointer;
}

@media (max-width: 600px) {
  .primary-navigation {
    position: fixed;
    inset: 0 0 0 30%;
    height: 60vh;
    border: 1px solid var(--primary-color);
    border-right: none;
    border-radius: 1rem 0 0 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    transform: translateX(100%);
    transition: transform 300ms ease-out;
  }
  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }
  .cancel-btn {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    color: var(--white);
    font-size: 1.5rem;
    cursor: pointer;
  }
  .menu-btn {
    display: block;
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
  }
}

@media (min-width: 600px) {
  .social-icons-container {
    width: 80%;
  }
  .contact-form {
    width: 80%;
  }
  .hero-image {
    clip-path: circle(250px at center);
  }
}

@media (min-width: 800px) {
  .projects-card-container {
    flex-direction: row;
  }
  .social-icons-container {
    width: 50%;
  }
  .contact-form {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .hero-image-container {
    width: min(85%, 1349px);
    margin: 0 auto;
  }
}
