.hero {
  position: relative;
  width: 100%;
  min-height: 520px;
  background-color: var(--black);
  color: var(--white);
}

.hero-container {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.hero-image-container {
  position: relative;
}
.hero-image {
  width: 150px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  margin-block: 1rem;
}
.hero-content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-content {
  position: relative;
}
.hero-title {
  color: var(--accent-color);
  margin-bottom: 0.15em;
}

.hero-desc {
  margin-block: 2.5rem;
  font-size: 1.4rem;
  max-width: 35rem;
}

.hero-cta-container {
  position: relative;
  top: auto;
  width: 100%;
  display: flex;
  gap: var(--gap);
}
.cta {
  padding: 0.5em 1.2em;
  border-radius: 0.5rem;
  color: var(--white);
}
.hire-me {
  background-color: var(--accent-color);
}
.view-resume {
  border: 2px solid var(--secondary-color);
}

@media (min-width: 600px) {
  .hero {
    height: 520px;
  }
  .hero-container {
    flex-direction: row;
  }
  .hero-image {
    min-width: 300px;
  }
}

@media (min-width: 1024px) {
  .hero-image {
    min-width: 380px;
  }
}
