.header-element {
  position: sticky;
  top: 0;
  z-index: 999;
}
.header {
  width: 100%;
  background-color: var(--black);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: var(--white);
}
.nav {
  padding: 1rem 0;
  background-color: var(--black);
}
.menu-btn {
  display: none;
}
.primary-navigation {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  z-index: 99;
  background-color: var(--black);
  list-style: none;
  align-items: center;
  gap: var(--gap);
}
.nav-link a {
  color: var(--white);
}
.cancel-btn {
  display: none;
}

@media (max-width: 600px) {
  .primary-navigation {
    position: fixed;
    inset: 0 0 0 40%;
    height: 55vh;
    border: 1px solid var(--primary-color);
    border-right: none;
    border-radius: 1rem 0 0 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    transform: translateX(100%);
    transition: transform 300ms ease-out;
  }
  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }
  .cancel-btn {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    color: var(--white);
    font-size: 1.5rem;
    cursor: pointer;
  }
  .menu-btn {
    display: block;
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
  }
}
