.social-icon-link {
  color: var(--primary-color);
}

.social-icon {
  width: 2rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  background-color: var(--white);
  cursor: pointer;
}
.social-icon:hover {
  transform: scale(1.15);
}
.social-icon i {
  font-size: 1.2rem;
}
