.modal {
  position: relative;
  margin: auto;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  text-align: center;
  width: 90%;
  max-width: 400px;
  background-color: var(--primary-color);
  color: var(--white);
}

.modal-overlay {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background: rgba(03, 53, 97, 0.5);
}

.close-modal-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.5rem;
  aspect-ratio: 1/1;
  display: flex;
}

.close-modal-btn i {
  margin: auto;
  font-size: 1.5rem;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-details-container {
  margin-block-end: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-detail > span {
  font-weight: 600;
}

.form-inputs {
  border: 2px solid var(--primary-color);
  padding: 0.7em;
  border-radius: 0.5rem;
}
.radio-btn {
  margin-right: 0.4rem;
  width: 1.2rem;
  aspect-ratio: 1;
  border: 2px solid var(--primary-color);
  color: red;
}
.form-subjects-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--gap);
  padding: 0.5rem 0;
}
.form-subject {
  display: inline-flex;
  height: auto;
  align-items: center;
}
.submit-btn {
  margin-top: 0.7rem;
  padding: 0.9em;
  background-color: var(--accent-color);
  color: var(--white);
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

@media (min-width: 600px) {
  .contact-form {
    width: 80%;
  }
}

@media (min-width: 800px) {
  .contact-form {
    width: 50%;
  }
}
