.social-icon-link {
  color: var(--primary-color);
}

.social-icon {
  width: 3rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--white);
  box-shadow: 3px 3px 7px #cbe3ec, -3px -3px 7px #cbe3ec;
  cursor: pointer;
}
.social-icon:hover {
  transform: scale(1.15);
}
.social-icon i {
  font-size: 1.7rem;
}
