.container {
  position: relative;
  width: min(85%, 1349px);
  margin: 0 auto;
}
.section {
  padding: 4.5rem 0 1rem 0;
}

.section-title {
  margin-bottom: 1em;
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-title h1 {
  color: var(--accent-color);
}
.section-title::after {
  content: "";
  width: 65%;
  height: 2px;
  background: var(--secondary-color);
}

.skills-icon-container {
  margin-top: 1rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
  flex-wrap: wrap;
}
.contributions-card-container,
.projects-card-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 300px));
  justify-content: center;
  gap: var(--gap);
}

.view-more {
  display: flex;
}
.view-more-btn {
  padding: 0.5rem 1.2rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-block-start: 2rem;
  border-radius: 0.3rem;
  border: none;
  background-color: var(--primary-color);
  color: var(--white);
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

.view-more-btn:hover {
  background-color: var(--accent-color);
}

.view-more-btn > i {
  font-size: 1.2rem;
}

@media (min-width: 600px) {
  .social-icons-container {
    width: 80%;
  }
}

@media (min-width: 800px) {
  .social-icons-container {
    width: 50%;
  }
}
